@model HomePageVM
@{
    ViewData["Title"] = "Home Page";
}

<section id="breadcrumb-slider">
    <div class="container-fluid px-0">
        <div class="row px-0 mx-0">
            <div class="col-12 pos-rel px-0">
                <div class="swiper main-slider"
                     style=" background-image: 
     url(@Url.Content("~/assets/img/main-slider-imgs/slider-img-0.jpg"));">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="text-wrapper">
                                <p class="fs-2-5 fw-600">Lorem Ipsum Dolar</p>
                                <p class="info">Take an action today!</p>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text-wrapper">
                                <p class="fs-3 fw-600">Lorem Ipsum Dolar</p>
                                <p class="info">Take an action today!</p>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text-wrapper">
                                <p class="fs-3 fw-600">Lorem Ipsum Dolar</p>
                                <p class="info">Take an action today!</p>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text-wrapper">
                                <p class="fs-3 fw-600">Lorem Ipsum Dolar</p>
                                <p class="info">Take an action today!</p>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-btn swiper-c-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-btn swiper-c-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </div>
                <div class="swiper-title">
                    <h1>Environmental, Social and Governance</h1>
                    <p>Overcoming the sustainability barriers</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="card-slider" class="">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mt-5">
                <h3 class="fs-3 fw-600">Featured global insights</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row px-0 mx-0">
            <div class="col-12 px-0 pos-rel">
                <div class="swiper article-swiper">
                    <div class="swiper-wrapper">
                        @foreach (HomePageCardVM card in Model?.Cards)
                        {
                            <div class="swiper-slide">
                                <div class="main-card">
                                    <div class="image-wrapper">
                                        <img class="homePageCardImage" src="~/assets/img/@card.Image"
                                             alt="Kard şəkli" />
                                    </div>
                                    <div class="text-wrapper p-4">
                                        <div class="card-tag darkgray">@card.Tag</div>
                                        <a href="#">
                                            <p class="fs-2 primary my-4 fw-600">
                                                @card.Title
                                            </p>
                                        </a>

                                        <br />
                                        <p class="card-info mt-2">
                                            @card.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="swiper-btn swiper-custom-button-next">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="swiper-btn swiper-custom-button-prev">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="info-firm">
    <div class="container-fluid px-0">
        <div class="row mx-0 px-0">
            <div class="col-12 col-md-6 firm-image p-5 pos-rel"
                 style="background-image: url(@Url.Content($"~/assets/img/{Model.TrendingSection.Image}"));">
                <div class="firm-overlay"></div>
                <p class="firm-title">@Model.TrendingSection.Title</p>
                <div class="text-wrapper">
                    <span>@Model.TrendingSection.Tag</span>
                    <a href="#">@Model.TrendingSection.Description</a>
                </div>
            </div>
            <div class="col-12 col-md-6 px-0">
                <div class="link-wrapper primary-bg d-flex flex-column justify-content-around">
                    @foreach (HomePageTrendingSectionPartVM part in Model.TrendingSection.Parts)
                    {
                        <div class="link-item">
                            <div class="link-title">@part.Title</div>
                            <div class="link-text">
                                <a href="#">@part.Content</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
</section>
<section id="news">
    <div class="container">
        <div class="row px-0 mx-0">
            <div class="col-12 mb-5">
                <p class="fs-3 fw-600">News</p>
            </div>
            <div class="col-12 col-lg-4">
                <div class="news-card">
                    <div class="news-card--date">17 Dec 2021</div>
                    <div class="news-card--title">
                        <a href="#" class="primary">Lorem Ipsum In The Town</a>
                    </div>
                    <div class="news-card--text">
                        Lorem is having fun in Ipsum town lets join them Lorem is
                        having fun in Ipsum town lets join them Lorem is having fun in
                        Ipsum town lets join them
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="news-card">
                    <div class="news-card--date">17 Dec 2021</div>
                    <div class="news-card--title">
                        <a href="#" class="primary">Lorem Ipsum In The Town</a>
                    </div>
                    <div class="news-card--text">
                        Lorem is having fun in Ipsum town lets join them Lorem is
                        having fun in Ipsum town lets join them Lorem is having fun in
                        Ipsum town lets join them
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="news-card">
                    <div class="news-card--date">17 Dec 2021</div>
                    <div class="news-card--title">
                        <a href="#" class="primary">Lorem Ipsum In The Town</a>
                    </div>
                    <div class="news-card--text">
                        Lorem is having fun in Ipsum town lets join them Lorem is
                        having fun in Ipsum town lets join them Lorem is having fun in
                        Ipsum town lets join them
                    </div>
                </div>
            </div>
            <div class="col-12 text-end py-5">
                <a id="viewAll" href="#">
                    View All <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="inside-breadcrumb"
         style=" background-image: url(@Url.Content("~/assets/img/footer-breadcrumb.webp"));">
    <div class="container">
        <div class="row mx-0 px-0 h-60v align-items-center">
            <div class="col-12 col-lg-5 company-info">
                <p class="company--slogan fs-2">THE LOREM IPSUM IMPERIUM</p>
                <p class="company--name">Inside Lorem Master</p>
                <p class="company--text">
                    Step out of this world if you want to stay alive and type lorem
                    for the rest of your life
                </p>
                <a asp-controller="Team" asp-action="Index">
                    <button class="default-btn btn-w border-w">Step Inside</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="experience">
    <div class="container-fluid px-0 mx-0">
        <div class="row px-0 mx-0">
            <div class="col-12 col-lg-6 primary-bg h-100v d-flex justify-content-center align-items-center px-50">
                <div class="exp-cont grad-container">
                    <p class="title">GRADUATES</p>
                    <p class="info">Unlock your potential</p>
                    <p class="text">
                        Lorem is very fun and charming, if you can learn it you will
                        be victorious
                    </p>
                    <a class="btn-cont" asp-controller="Team" asp-action="Index">
                        <button class="default-btn btn-w">
                            Unlock you potential now
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 exp-cont h-100v d-flex justify-content-center align-items-center px-50">
                <div class="exp-cont hires-container">
                    <p class="title">EXPERIENCED HIRES</p>
                    <p class="info">Got the experience?</p>
                    <p class="text">
                        Lorem is very fun and charming, if you can learn it you will
                        be victorious
                    </p>
                    <a class="btn-cont" asp-controller="Team" asp-action="Index">
                        <button class="default-btn btn-r">
                            Fullfill your potential
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>